<ul class="topics_list" ng-repeat="(key, topic) in vm.topics | orderBy: '-upvotes'">
    <li class="topics_list__item">
        <span ng-click="vm.vote(topic)" class="glyphicon glyphicon-thumbs-up"></span>
        <a ng-if="topic.link" href="{{topic.link}}">{{topic.title}}</a>
        <span ng-if="!topic.link">{{topic.title}}</span>
        - upvotes: {{topic.upvotes}}
        <span>
            <a ui-sref="topics({id:topic._id})">Comments</a>
        </span>
    </li>
</ul>
<form ng-submit="vm.addTopic()">
    <h3>Add new topic</h3>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Title" ng-model="vm.title">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Link" ng-model="vm.link">
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>