<div class="page-header">
    <h3>
        <a ng-if="vm.topic.link" href="{{vm.topic.link}}">{{vm.topic.title}}</a>
        <span ng-if="!vm.topic.link">{{vm.topic.title}}</span>
    </h3>
</div>
<ul class="topics_list" ng-repeat="comment in vm.topic.comments | orderBy: '-upvotes'">
    <li class="topics_list__item">
        <span ng-click="vm.vote(comment)" class="glyphicon glyphicon-thumbs-up"></span>
        {{comment.upvotes}} - by: {{comment.author}}
        <p>{{comment.body}}</p>
    </li>
</ul>

<form ng-submit="vm.addComment()">
    <h3>Add new comment</h3>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Comment" ng-model="vm.body">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>